@font-face {
    font-family: "comic";
    src: url("ComicShark-lgVE5.otf") format("opentype");
}
html {
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: fixed;
    top: 0;    
    width: 100vw;    
    border-bottom: 4px solid black;
    background-color: rgb(211, 255, 251);
    height: 19vh;
    padding-left: 2px;
}    
.li-div {
    width: 20vw;    
    /*border: 1px solid red;*/
    overflow: visible;
    position: relative;
    display: inline-block;
    margin: -2px; 
    height: 15vh;     
}
li.header {
    width: fit-content;
    height: inherit;    
    text-align: center;        
    list-style: none;
    background-color: inherit;
    font-family: "comic";
    letter-spacing: 1px; 
    margin: auto;
    margin-top: 4.5vh;  
   /* border-right: 1px solid rgb(247, 115, 100);*/      
}
a {
    text-decoration: none;   
    font-weight: bold;
    color: black;
    position: relative;    
    transition: color ease 100ms;
}
.arrow {
    font-size: 1.5rem;
    margin-left: 3px;   
    position: relative;
    top: -2.5px;
}
.menuDiv {
    display: none;
    width: 19vw;
    position: absolute;
    top: 15vh;       
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;    
    margin: 0 5px;
}
/*#numbers-menu {
    left: 1vw; 
}
#names-menu {
    left: 39.5vw; 
}
#food-menu {
    left: 60vw;
}
#places-menu {
    left: 79vw; 
}*/
#films-button {
    margin-top: 6.3vh;
}
#numbers-button:hover a, #names-button:hover a,
#places-button:hover a, #food-button:hover a,
#films-button:hover a {
    color:  rgb(252, 177, 188);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*#numbers-button:hover + #numbers-menu, #names-button:hover + #names-menu,
#places-button:hover + #places-menu, #food-button:hover + #food-menu {
    display: block;
    left: 0;  
}*/
ul.dropdown > li {
    text-align: center;
    list-style: none;
    background-color: rgb(252, 177, 188);
    color: rgb(228, 255, 255);
    padding: 10px 0;    
    margin: auto;
    height: 50px;
    border-bottom: 2px solid black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "comic";
}
.triangle {
    width: 17px;
    height: 17px;
    background-color: rgb(252, 177, 188);
    border-top: 2px solid black;
    border-left: 2px solid black;
    z-index: 3;
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    transform: rotate(45deg);
}