@font-face {
    font-family: "comic";
    src: url("fonts/ComicShark-lgVE5.otf") format("opentype");
}
html {
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "comic";
}
body {
    background-color: rgb(245, 234, 245);
    position: relative;
    overflow: auto;
    z-index: 0;    
}
nav {
    position: fixed; 
    width: 100vw;    
    background-color: rgb(211, 255, 251);
    height: 90px;
    padding-left: 0;    
    display: flex;
    align-items: middle;
    z-index: 1;    
    top: 0;
    overflow: visible;
}    
.header {
    width: 20vw;    
    overflow: visible;
    display: inline-block;    
    height: 90px;       
    z-index: 2;   
    text-align: center;  
    background-color: inherit;             
    z-index: 2;          
    padding: 20px;         
    transition: transform 1.5s ease-out;    
}
.header.off-screen {
    transform: translateX(1800px);
}
.link-container {
    width: max-content;
    margin: auto;
    padding: 2px;
    z-index: 3;
    overflow: visible;
}
.header a {
    margin: auto;
    letter-spacing: 1px; 
    text-decoration: none;   
    font-weight: bold;
    color: black;
    position: relative;    
    transition: color ease 100ms;      
    z-index: 4;
    width: fit-content;    
    padding: 5px;    
}
.arrow {
    font-size: 1.5rem;
    margin-left: 3px;   
    position: relative;
    top: -2.5px;
    z-index: 4;
}
a:hover, a.hovered {
    color:  rgb(252, 177, 188);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#curtain a:hover {
    color: rgb(211, 255, 251);
}
.underline {
    height: 3px;
    background-color: cornflowerblue;
    width: 0;
    transition: width 1s;
    margin: auto;
    margin-top: 3px;
    position: relative;
    z-index: 4;    
}
 a:hover + .underline, .underline.hovered {
    width: 100%;
}
.menuDiv {
    height: 0;
    width: 18vw;
    position: fixed;
    top: 87px;       
    margin: 3px 5px;
    background-color: rgb(252, 177, 188);
    z-index: 1;
    overflow: hidden;
    transition: height 1s;      
}
#numbers-menu {
    left: 1vw;
}
#names-menu {
    left: 41vw;
}
#food-menu {
    left: 61vw;
}
#places-menu {
    left: 81vw;
}
.menuDiv li {    
    text-align: center;
    list-style: none;
    background-color: rgb(252, 177, 188);
    color: rgb(228, 255, 255);
    padding: 10px 0;    
    margin: auto;
    height: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    position: relative;      
}
.menuDiv li:hover, .menuDiv li.hovered {
    background-color: cornflowerblue;    
}

@media screen and (max-width: 800px) {
    .menuDiv {
        font-size: 0.8rem;
    }
    .header, .arrow {
        font-size: 0.9rem;
        padding-top: 30px;
    }
    #films-button {
        padding-top: 32px;
    }
}
#hamburger {
    height: auto;
    width: 50px;
    background-color: transparent;
    position: relative;
    top: 5px;   
    z-index: 3;
    transition: left 700ms;
}
.stripe {
    width: 100%;
    border-radius: 20px;
    margin: 4px 0;
    background-color: rgb(252, 177, 188);
    position: relative;    
    height: 7px;     
}
#curtain {
    position: fixed;
    top: 90px;
    background-color: rgb(255, 223, 227);
    width: 100%;
    text-align: center;
    height: calc(100% - 90px);
    overflow: auto;
}
.curtainItem {
    height: 20%;
    min-height: 70px;
    border-bottom: 3px solid black;    
    position: relative;   
}
.curtainLink {
    position: relative;
    top: 25%;
    height: 50%;
    display: inline-block;    
    width: fit-content;
    margin: auto;
    text-align: center;
    border: 2px solid darkcyan;
    padding: 1px 10px 8px;
}
#curtain a {
    color: black;
    text-decoration: none;
}
#curtain a:hover {
    color: rgb(211, 255, 251);
}
nav #films-button {
    padding-top: 32px;
}

