@font-face {
    font-family: "comic";
    src: url("ComicShark-lgVE5.otf") format("opentype");
}
html {
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    position: fixed; 
    width: 100vw;    
    border-bottom: 4px solid black;
    background-color: rgb(211, 255, 251);
    height: 100px;
    padding-left: 2px;    
    display: flex;
    align-items: baseline;
}    
#nav1 {
    top: 0;
}
#nav1 {
    top: 250px;
}
.li-div {
    width: 20vw;    
    /*border: 1px solid red;*/
    overflow: visible;
    position: relative;
    display: inline-block;
    margin: -2px; 
    height: 98px;
    padding-top: 10px;     
   /* vertical-align: baseline;*/
}
li.header {
    width: fit-content;
    height: 60%;    
    text-align: center;        
    list-style: none;
    background-color: inherit;
    font-family: "comic";
    letter-spacing: 1px; 
    margin: auto;               
}
.menuDiv.hovered {
    display: block;
}
a {
    text-decoration: none;   
    font-weight: bold;
    color: black;
    position: relative;    
    transition: color ease 100ms;      
}
.arrow {
    font-size: 1.5rem;
    margin-left: 3px;   
    position: relative;
    top: -2.5px;
}
.menuDiv {
    display: none;
    width: 19vw;
    position: absolute;
    top: 60px;       
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;    
    margin: 3px 5px;    
}
.menuDiv li:hover, .triangle.hovered, .menuDiv li.hovered {
    background-color: cornflowerblue;
}
#films-button {
    margin-top: 6.3vh;
}
li.header:hover a, a.hovered {
    color:  rgb(252, 177, 188);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
ul.dropdown > li {
    text-align: center;
    list-style: none;
    background-color: rgb(252, 177, 188);
    color: rgb(228, 255, 255);
    padding: 10px 0;    
    margin: auto;
    height: 50px;
    border-bottom: 2px solid black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "comic";
}
.triangle {
    width: 17px;
    height: 17px;
    background-color: rgb(252, 177, 188);
    border-top: 2px solid black;
    border-left: 2px solid black;
    z-index: 3;
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    transform: rotate(45deg);
}
@media screen and (max-width: 800px) {
    .menuDiv {
        font-size: 0.8rem;
    }
}